<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/therapeut/' %} active {% endif %}"><a href="{{ "/therapeut/" | absolute_url }}">Therapeut</a></li>
  <li class="{% if page.url contains '/ostheopatie/' %} active {% endif %}"><a href="{{ "/ostheopatie/" | absolute_url }}">Was ist Ostheopatie</a></li>
  <li class="{% if page.url contains '/behandlung/' %} active {% endif %}"><a href="{{ "/behandlung/" | absolute_url }}">Behandlung und Ablauf</a></li>
  <li class="{% if page.url contains '/kostenerstattung/' %} active {% endif %}"><a href="{{ "/kostenerstattung/" | absolute_url }}">Kostenerstattung</a></li>
  <li class="{% if page.url contains '/impressum/' %} active {% endif %}"><a href="{{ "/impressum/" | absolute_url }}">Impressum</a></li>
</ul>
